%nav.blue{:role => "navigation"}
  .nav-wrapper.container
    %a#logo-container.brand-logo{:href => "#"} VinylStream
    %ul.right.hide-on-med-and-down
      %li
        = link_to 'Items', items_path
    %ul#nav-mobile.side-nav
      %li
        = link_to 'Items', items_path
    %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
      %i.material-icons menu
.row
  .col.s12
    = image_tag 'https://hd.unsplash.com/photo-1470229722913-7c0e2dbbafd3'
