.container
  .cart.inner
    %header.major
      %h2 Order Confirmation
    .content
      - @order.items.each do |item|
        .contact-method
          %h3= item.name
          %p= item.price
          %br/
    %h3 Total comes to $#{@order.total}
