$('#item_name').val('');
$('#item_description').val('');
$('#item_category').val('');
$('#item_price').val('');
$('#account-items').append('<section><div class="contact-method"><h3><%= @item.name %></h3><span><%= @item.description %></span><br><span>$<%= @item.price %></span><br><%= link_to "Delete", item_path(@item), method: "delete", data: {confirm: "Delete this item?"}, class: "button small delete_item", style: "float: right", remote: true %><br><hr></div></section>');
