#main
  %section#one
  %section#two.spotlights
    %section
      .image
        = image_tag @account.avatar.url
      .content
        .inner
          %header.major
            %h3= @account.name
          %p= @account.about
